/* .deck-widget-ctrl .deck-widget,  */
.maplibregl-ctrl .deck-widget,
.mapboxgl-ctrl .deck-widget
{
    margin: 0;
}

/* Tooltip table */
.fn-datatable {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.5;
}
.fn-datatable tr td:first-child {
  padding: 1px 8px 1px 0;
  opacity: 0.7;
  white-space: nowrap;
}
.fn-datatable tr td:last-child {
  padding: 1px 0;
}
